<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.muke.mapper.ChapterMapper" >
	<resultMap type="ChapterBean" id="ChapterBeanMap">
		<id property="chNo" column="chNo"/>
		<association property="course" column="cNo" select="findCourseByNo"/>
	</resultMap>
	<select id="findCourseByNo" parameterType="string" resultType="CourseBean">
		select * from course where cNo=#{cNo}
	</select>

	<!-- 获取所有的章节信息 -->
	<select id="findAllChapters" resultMap="ChapterBeanMap">
		select * from chapter where chStatus!=1
	</select>
	
	<!-- 添加新的章节 -->
	<insert id="addNewChapter" parameterType="UploadChapterBean">
		<selectKey keyProperty="chOrder" keyColumn="chOrder" order="BEFORE" resultType="int">
			select nvl(max(chOrder),0)+1 as chOrder from chapter where cNo=#{cNo}
		</selectKey>
		insert into chapter values(seq_chapter_chNo.Nextval,#{chName},#{cNo},#{chContent},#{chOrder},'','','',2)
	</insert>

    <select id="getAllChpater" parameterType="map" resultType="ChapterBean">
        select * from (select a.*,rownum rn from (select ch.*,c.cname from chapter ch,course c where ch.Cno=c.cno and
		chStatus!=0 order by chNo) a where rownum<![CDATA[<]]>=(${page}*${rows}))
		b where rn<![CDATA[>]]>((${page}-1)*${rows}) 
    </select>
    
    <select id="getChapterByChnoOrCname" parameterType="map" resultType="ChapterBean">
        select ch.*,c.cname from chapter ch,course c
        <where>
            <if test="1==1">
                ch.Cno=c.cno 
            </if>
            <if test="chName!=null and chName!=''">
           		and chName like '%${chName}%'
	        </if>
	        <if test="cNo!=0">
	            and c.cNo=#{cNo}
	        </if>
        </where>
    </select>
    
    <select id="getChapterDetailByChno" parameterType="map" resultType="ChapterBean">
        select ch.*,c.cname from chapter ch,course c where  ch.Cno=c.cno and chNo=#{chNo}
    </select>
    <update id="updateChapterStatus" parameterType="map">
        update chapter set chStatus=#{chStatus} where chNo=#{chNo}
    </update>
    
   	<update id="delChapterInfo" parameterType="map">
   	    update chapter set chStatus=1 where chNo=#{chNo}
   	</update>
   	
   	<!-- 前台操作 -->
   	<select id="getAllChpaterByCno" parameterType="map" resultType="Chapter">
   	    select * from chapter where cNo=#{cNo}
   	</select>
    	<!--查询章节信息（cno,ucNowChNo）  -->
   	<select id="findChapter" parameterType="map" resultType="ChapterBean">
   		select * from chapter where cNo=#{cNo} and chOrder=#{chOrder} and chStatus<![CDATA[>]]>1
   	</select>
</mapper>
